<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <h1 class="logo">
        Rolling Paper
    </h1>
    {% if login %}
        {% block main %}{% endblock %}
    {% elif join %}
        {% block join %}{% endblock %}
    {% else %}
        {% block login %}{% endblock %}
    {% endif %}
    
</body>
</html>